<%= form_for @smsperson, :html => { :class => "form-horizontal smsperson" } do |f| %>

    <% if @smsperson.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@smsperson.errors.count, "error") %> prohibited this smsperson from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @smsperson.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :type, :class => 'form-control' %>
    </div>
    <%= error_span(@smsperson[:type]) %>
  </div>
  <div class="control-group">
    <%= f.label :qq, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :qq, :class => 'form-control' %>
    </div>
    <%= error_span(@smsperson[:qq]) %>
  </div>
  <div class="control-group">
    <%= f.label :mail, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mail, :class => 'form-control' %>
    </div>
    <%= error_span(@smsperson[:mail]) %>
  </div>
  <div class="control-group">
    <%= f.label :mob, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mob, :class => 'form-control' %>
    </div>
    <%= error_span(@smsperson[:mob]) %>
  </div>
  <div class="control-group">
    <%= f.label :loginname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :loginname, :class => 'form-control' %>
    </div>
    <%= error_span(@smsperson[:loginname]) %>
  </div>
  <div class="control-group">
    <%= f.label :zhifubao, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zhifubao, :class => 'form-control' %>
    </div>
    <%= error_span(@smsperson[:zhifubao]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            smspeople_path, :class => 'btn btn-default' %>

<% end %>
