<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @smsuserusedtellist.name %>
</p>

<p>
  <strong>Telpostion:</strong>
  <%= @smsuserusedtellist.telpostion %>
</p>

<%= link_to 'Edit', edit_smsuserusedtellist_path(@smsuserusedtellist) %> |
<%= link_to 'Back', smsuserusedtellists_path %>
