<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @p2pproduct.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @p2pproduct.company %>
</p>

<p>
  <strong>Lowestamount:</strong>
  <%= @p2pproduct.lowestAmount %>
</p>

<p>
  <strong>Producttypelabel:</strong>
  <%= @p2pproduct.producttypelabel %>
</p>

<p>
  <strong>Suppliernameshort:</strong>
  <%= @p2pproduct.suppliernameshort %>
</p>

<p>
  <strong>Supplierlogourl:</strong>
  <%= @p2pproduct.supplierlogourl %>
</p>

<p>
  <strong>Channelurl:</strong>
  <%= @p2pproduct.channelurl %>
</p>

<p>
  <strong>Expectedprofitrate:</strong>
  <%= @p2pproduct.expectedprofitrate %>
</p>

<p>
  <strong>Idea:</strong>
  <%= @p2pproduct.idea %>
</p>

<p>
  <strong>Extrafields:</strong>
  <%= @p2pproduct.extrafields %>
</p>

<p>
  <strong>Investfield:</strong>
  <%= @p2pproduct.investfield %>
</p>

<p>
  <strong>Term:</strong>
  <%= @p2pproduct.term %>
</p>

<p>
  <strong>P min investment:</strong>
  <%= @p2pproduct.p_min_investment %>
</p>

<p>
  <strong>Earlyback:</strong>
  <%= @p2pproduct.earlyBack %>
</p>

<p>
  <strong>Earlytransfer:</strong>
  <%= @p2pproduct.earlytransfer %>
</p>

<p>
  <strong>P title:</strong>
  <%= @p2pproduct.p_title %>
</p>

<%= link_to 'Edit', edit_p2pproduct_path(@p2pproduct) %> |
<%= link_to 'Back', p2pproducts_path %>
