<p id="notice"><%= notice %></p>

<p>
  <strong>C name:</strong>
  <%= @p2pcompany.c_name %>
</p>

<p>
  <strong>C icon:</strong>
  <%= @p2pcompany.c_icon %>
</p>

<p>
  <strong>C net address:</strong>
  <%= @p2pcompany.c_net_address %>
</p>

<p>
  <strong>C phone:</strong>
  <%= @p2pcompany.c_phone %>
</p>

<p>
  <strong>C address:</strong>
  <%= @p2pcompany.c_address %>
</p>

<p>
  <strong>C create time:</strong>
  <%= @p2pcompany.c_create_time %>
</p>

<p>
  <strong>C persion:</strong>
  <%= @p2pcompany.c_persion %>
</p>

<p>
  <strong>C province:</strong>
  <%= @p2pcompany.c_province %>
</p>

<p>
  <strong>C product type:</strong>
  <%= @p2pcompany.c_product_type %>
</p>

<%= link_to 'Edit', edit_p2pcompany_path(@p2pcompany) %> |
<%= link_to 'Back', p2pcompanies_path %>
