<p id="notice"><%= notice %></p>

<h1>Listing Smsreceiveds</h1>

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Body</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smsreceiveds.each do |smsreceived| %>
      <tr>
        <td><%= smsreceived.no %></td>
        <td><%= smsreceived.body %></td>
        <td><%= smsreceived.uuid %></td>
        <td><%= link_to 'Show', smsreceived %></td>
        <td><%= link_to 'Edit', edit_smsreceived_path(smsreceived) %></td>
        <td><%= link_to 'Destroy', smsreceived, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Smsreceived', new_smsreceived_path %>
