<p id="notice"><%= notice %></p>

<h1>Listing Smsnos</h1>

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smsnos.each do |smsno| %>
      <tr>
        <td><%= smsno.no %></td>
        <td><%= smsno.name %></td>
        <td><%= smsno.tag %></td>
        <td><%= link_to 'Show', smsno %></td>
        <td><%= link_to 'Edit', edit_smsno_path(smsno) %></td>
        <td><%= link_to 'Destroy', smsno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Smsno', new_smsno_path %>
