<p id="notice"><%= notice %></p>

<p>
  <strong>Zfbid:</strong>
  <%= @smszfblog.zfbid %>
</p>

<p>
  <strong>Qian:</strong>
  <%= @smszfblog.qian %>
</p>

<%= link_to 'Edit', edit_smszfblog_path(@smszfblog) %> |
<%= link_to 'Back', smszfblogs_path %>
