<%= form_for @smstaglist, :html => { :class => "form-horizontal smstaglist" } do |f| %>

    <% if @smstaglist.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@smstaglist.errors.count, "error") %> prohibited this smstaglist from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @smstaglist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@smstaglist[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%= error_span(@smstaglist[:price]) %>
  </div>
  <div class="control-group">
    <%= f.label :laiyuan, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :laiyuan, :class => 'form-control' %>
    </div>
    <%= error_span(@smstaglist[:laiyuan]) %>
  </div>
  <div class="control-group">
    <%= f.label :isonline, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :isonline, :class => 'form-control' %>
    </div>
    <%= error_span(@smstaglist[:isonline]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            smstaglists_path, :class => 'btn btn-default' %>

<% end %>
