<%- model_class = Smslogrecord -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:jieshouhaoma) %></th>
      <th><%= model_class.human_attribute_name(:neirong) %></th>
      <th><%= model_class.human_attribute_name(:xiangmu) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @smslogrecords.each do |smslogrecord| %>
      <tr>
        <td><%= link_to smslogrecord.id, smslogrecord_path(smslogrecord) %></td>
        <td><%= smslogrecord.jieshouhaoma %></td>
        <td><%= smslogrecord.neirong %></td>
        <td><%= smslogrecord.xiangmu %></td>
        <td><%=l smslogrecord.created_at %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

