<%- model_class = Smslogrecord -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:jieshouhaoma) %>:</strong></dt>
  <dd><%= @smslogrecord.jieshouhaoma %></dd>
  <dt><strong><%= model_class.human_attribute_name(:neirong) %>:</strong></dt>
  <dd><%= @smslogrecord.neirong %></dd>
  <dt><strong><%= model_class.human_attribute_name(:xiangmu) %>:</strong></dt>
  <dd><%= @smslogrecord.xiangmu %></dd>
  <dt><strong><%= model_class.human_attribute_name(:huoqushijian) %>:</strong></dt>
  <dd><%= @smslogrecord.huoqushijian %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              smslogrecords_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_smslogrecord_path(@smslogrecord), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              smslogrecord_path(@smslogrecord),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
